.dropdown-menu-right {
  right: 0;
  left: auto !important;
}

.badge-pill {
  border-radius: 1000;
  padding-right: 0.4em;
  padding-left: 0.4em;
  margin-left: -2px;
  margin-right: 9px;
  color: black;
  font-weight: bold;
}

a {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 1.7;
  color: #666;
  margin: 0;
}

a:focus {
  outline: none!important
}

.user-info-container {
  padding: 15px;
  color: white;
  border-radius: 5px;
  background: linear-gradient(-135deg,#242424,#5e2424);
  position: absolute;
  float: right;
  top: 100px;
  right: 2px;
  width: 200px;
  height: 300px;
}

.flex-column {
  height: 230px;
}

.buttonUser {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.logoutButton{
  bottom: 0px;
  float: right;
}
