/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~ngx-toastr/toastr.css';

@font-face {
  font-family: Poppins-Regular;
  src: url('/src/app/assets/fonts/poppins/Poppins-Regular.ttf')
}

@font-face {
  font-family: Poppins-Bold;
  src: url('/src/app/assets/fonts/poppins/Poppins-Bold.ttf')
}

@font-face {
  font-family: Poppins-Medium;
  src: url('/src/app/assets/fonts/poppins/Poppins-Medium.ttf')
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('/src/app/assets/fonts/montserrat/Montserrat-Bold.ttf')
}

html, body {
  min-height: 100%;
}

body {
  background: #46803b;
  background: -webkit-linear-gradient(-135deg,#46803b,#2c3a7e);
  background: -o-linear-gradient(-135deg,#46803b,#2c3a7e);
  background: -moz-linear-gradient(-135deg,#46803b,#2c3a7e);
  background: linear-gradient(-135deg,#46803b,#2c3a7e);
}

body, html {
  font-family: Poppins-Regular,sans-serif;
}

.toast-container {
  margin-top: 100px;
}
