
a:hover {
  text-decoration: none;
  color: #39752f;
  font-weight: 600;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: rgb(85, 85, 85);
  margin: 0
}

ul,li {
  margin: 0;
  list-style-type: none
}

input {
  outline: none;
  border: none
}

textarea {
  outline: none;
  border: none
}

textarea:focus,input:focus {
  border-color: transparent!important
}

button {
  outline: none!important;
  border: none;
  background: 0 0
}

button:hover {
  cursor: pointer
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666
}

.limiter {
  width: 100%;
  margin: 0 auto;
  margin-top: -110px;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 130px 50px 95px
}

.login100-pic {
  width: 320px;
}

.login100-pic img {
  max-width: 100%
}

.login100-form {
  width: 290px
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px
}

.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px
}

.symbol-input100 {
  font-size: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s
}

.input100:focus+.focus-input100+.symbol-input100 {
  color: #2c7220;
  padding-left: 28px
}

.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s
}

.login100-form-btn:disabled{
  background: #505050 !important;
  color: rgb(175, 175, 175);
  cursor: not-allowed;
}


.login100-form-btn:hover {
  background: rgb(15, 100, 27)
}

.cancel {
  background: rgb(187, 65, 65)
}

.cancel:hover {
  color: #fff;
  background: rgb(160, 17, 17)
}


@media(max-width: 992px) {
  .wrap-login100 {
      padding:70px 90px 33px 85px
  }

  .login100-pic {
      width: 35%
  }

  .login100-form {
      width: 50%
  }
}

@media(max-width: 768px) {
  .wrap-login100 {
      padding:20px 80px 33px
  }

  .login100-pic {
      display: none
  }

  .login100-form {
      width: 100%
  }
}

@media(max-width: 576px) {
  .wrap-login100 {
      padding:10px 15px 33px
  }
}
